.verify-forgot{
    color: red;
    border: none;
    background: none;
    position: absolute;
    bottom: 34px;
}

i.verify::after{
    position: absolute;
    top: 6px;
    content: '\e5ca';
    color: chartreuse;
}